@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .bg-radial-gradient {
    background: radial-gradient(circle, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}

